@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: #282828;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 6px 0;
}

.menu__link {
    color: white;
    font-family: 'MontserratB';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.menu__link:hover {
    color: gray;
}

.icon {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.icon__css {
    color: white;
}

.icon__css:hover {
    color: gray;
}

.banner {
    background: url(../img/Banner.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1 {
    font-family: 'ProstoOneR';
    font-size: 100px;
    font-weight: 400;
    line-height: 75px;
    color: white;
}

.banner__text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 38px;
}

.banner__btn {
    height: 50px;
    width: 200px;
    left: 700px;
    top: 382px;
    border-radius: 10px;
    font-family: 'MontserratS';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    background: white;
}

.banner__btn:hover {
    background: gray;
    color: white;
    transition: 0.2s;
}

.information {
    background: #151515;
}

.infotext {
    display: flex;
    align-items: center;
}

.info__1 {
    padding-top: 30px;
    gap: 30px;
}

.info__2 {
    gap: 88px;
}

.info__3 {
    gap: 88px;
    padding-bottom: 80px;
}

.info__p {
    font-family: 'MontserratS';
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    color: white;
}

.last {
    font-family: 'MontserratB';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.iphone {
    background: #151515;
}

.phone__wrap {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 56px;
}

.card {
    text-align: center;
    background: white;
    height: 312px;
    width: 255px;
    border-radius: 6px;
}

.card__h3 {
    font-family: 'MontserratB';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 15px 0 10px;
}

.card__p {
    font-family: 'MontserratR';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding-top: 10px;
}

.card__button {
    font-family: 'MontserratB';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 34px;
    width: 161px;
    border-radius: 0px;
    background: #151515;
    color: white;
    margin: 20px 0 15px;
}

.card__button:hover{
    color: black;
    background: white;
    transition: 0.2s;
}

.footer{
    background: #282828;
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.footer__ad{
    display: flex;
    gap: 30px;
}